.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 580px;
    background-color: plum;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;

}
.bulb{
    height: 400px;
    width: 400px;
    background-color: powderblue;
    margin-bottom: 10px;
   text-align: center;
   display: inline-block;
   padding-top: 10px;
}
button{
    border-radius: 5px;
    background-color: yellowgreen;
}