table{
    text-align: center;
    margin-left: auto;
  margin-right: auto;
    width: 700px;
    height: 500px;
}
table, th, tr,td {
    border: 2px solid black;
  }
  th,td{
      background-color: rgb(132, 247, 213);
      font-size: larger;
  }
  input{
      padding: 15px;
      background-color: ghostwhite;
  }
  button{
      border-radius: 5px;
      width: 150px;
      height: 40px;
      background-color: lightcoral;
      margin-left: 570px;
      cursor: pointer;
  }